name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - name: Megalinter
        uses: oxsecurity/megalinter@a7b1a3af0f3bd4de4db855969d27e224005665a6 # v7.1.0
        env:
          APPLY_FIXES: "none"
          BASH_SHFMT_DISABLE_ERRORS: "false"
          DISABLE_LINTERS: MARKDOWN_MARKDOWN_LINK_CHECK,REPOSITORY_CHECKOV,REPOSITORY_SECRETLINT,REPOSITORY_TRIVY,REPOSITORY_TRUFFLEHOG,SPELL_CSPELL
          FILTER_REGEX_EXCLUDE: .*/ISSUE_TEMPLATE/.*
          FLAVOR_SUGGESTIONS: "false"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JSON_PRETTIER_DISABLE_ERRORS: "false"
          LOG_LEVEL: WARN
          MARKDOWN_MARKDOWNLINT_DISABLE_ERRORS: "false"
          PRINT_ALL_FILES: "false"
          PRINT_ALPACA: "false"
          SHOW_ELAPSED_TIME: "true"
          SPELL_MISSPELL_DISABLE_ERRORS: "true"
          VALIDATE_ALL_CODEBASE: "true"
          YAML_PRETTIER_DISABLE_ERRORS: "false"
      - name: Artifacts
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: artifacts
          path: |
            report
            mega-linter.log
