name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0
        with:
          fetch-depth: 0
      - name: Megalinter
        uses: megalinter/megalinter/flavors/ci_light@v5
        env:
          APPLY_FIXES: "none"
          BASH_SHFMT_DISABLE_ERRORS: "false"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JSON_PRETTIER_DISABLE_ERRORS: "false"
          LOG_LEVEL: WARN
          MARKDOWN_MARKDOWNLINT_DISABLE_ERRORS: "false"
          PRINT_ALL_FILES: "false"
          PRINT_ALPACA: "false"
          SHOW_ELAPSED_TIME: "true"
          SPELL_MISSPELL_DISABLE_ERRORS: "true"
          VALIDATE_ALL_CODEBASE: "false"
          YAML_PRETTIER_DISABLE_ERRORS: "false"
      - name: Artifacts
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            report
            mega-linter.log
